.container-fluid {
padding: 0px !important;
}
.about {
padding: 50px 200px !important;
}
.title {
background-color: #271458 !important;
background-image: url(../images/title-bg.svg);
background-repeat: no-repeat;
background-position: center;
height: 200px;
width: 100%;
color: white;
}
.title h1 {
font-family: "Merriweather", serif;
}
.title h1,
.title p {
color: white;
text-align: center;
padding-top: 30px;
}
.ui-element img {
height: 118.8px;
margin: -30px;
}
.skill-icon {
height: 100px !important;
margin: 30px 0 30px 0 !important;
}
h3 {
padding-bottom: 32px;
}
.hobby ul {
display: flex;
justify-content: space-between;
}
.hobby li {
overflow: hidden;
text-decoration: none;
display: inline-block;
font-style: italic;
font-weight: bold;
color: #271458;
}
.hobby ul :nth-child(odd) {
color: #25cdc8;
}

.hobby {
padding-left: 10%;
padding-top: 10%;
}
@media only screen and (max-width: 1200px) {
.about {
padding: 50px 50px !important;
align-items: center;
}
.work.row div {
padding-top: 50px;
}
.hobby {
padding-left: 0%;
}
}
@media only screen and (max-width: 600px) {
.title {
background-image: none;
background-color: #271458 !important;
}
}
