html{
    font-family: 'Source Sans Pro', sans-serif;
    }
.fp-fixed{
    z-index: 1000;
}

.white1{
    background-color: white;
    color:  #11200D;
    /* box-shadow:20px #639539; */
}
.shadow1{
    box-shadow: 0 .1rem 0.5rem #939792!important;
}
.row{
    padding:25px 0px 25px 0;
}
.fp-hero img{
margin-top: 60px;
}
.fa-chevron-circle-left{
    padding-top: 25px;
    font-size: 36px;
    color:#BF24A6;

}
.fp-title h1{
font-size: 36px;
color: #639539;
padding-top: 20px;
font-family:'Merriweather', serif;
}
.case-study {
    padding: 32px 200px 32px 100px;
}
.overview p{
    font-size: 16px!important;
    color: #11200D;
    font-weight: lighter;
}
.case-study div:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    color: #639539;
}
.case-study img{
width: 100%;
align-content: center;
}
.side-menu{
    background: #11200D;
    color:white;
    padding-top: 30%;
    font-size: 24px;
    text-transform: uppercase; 
    width: 1000%;
    height: 100%;
    margin-right:0px;
}
.side-menu-list ul{
    list-style: none;
}
.side-menu-list a{
    text-decoration: none!important;
    color:white;
}
.side-menu-list a:hover{
    color: #639539;
}
.footer{
    background-color:#11200D!important;
    background-image: url(../images/fp-footer-bg.svg)!important;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px!important;
    z-index: 10000!important;
  }
  .footer-logo{
      display: none;
  }
  .hidden{
      display:none;
  }
  @media only screen and (max-width: 600px) {
    .case-study {
        padding: 32px 50px 32px 50px;
    }
}