html, body{
  font-family: 'Source Sans Pro', sans-serif!important;
  }
.footer-logo{
    height:30px;
}
.social-icons-footer li {
    overflow: hidden;
    padding-top: 20px;
    display: inline-block;
  }
  .social-icons-footer li img {
    height: 40px;
    padding-right: 30px;
  }
.footer{
    background-color:#271458;
    background-image: url(../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  
  }
  #footer {
    background-color: #271458;
    display: flex;
    
  }
  .footer-copyright a{
    color:#25cdc8;
  }
  .copy-logo-line a{
  color: #25cdc8!important;
  
  }
  .social-icons-footer{
    display: inline-block !important;
    margin-bottom: 70px;
  }
  .white{
    color: white;
  }
  .footer-logo{
    height:40px;
    padding-left: 3%;
  }
  .page-footer{
    margin-top:70px;
  }

  @media only screen and (max-width: 600px) {
  .footer{
    background-color:#271458;
    background-image: none;

  }
  }