
.pack-fixed {
z-index: 1000;
}
.fa-chevron-circle-left {
padding-top: 25px;
font-size: 36px;
color: #d8eb66;
}
.pack-title h1 {
font-size: 36px;
color: #136f63;
padding-top: 20px;
font-family: "Merriweather", serif;
}
.white1 {
background-color: white;
color: #11200d;
/* box-shadow:20px #639539; */
}
.shadow1 {
box-shadow: 0 0.1rem 0.5rem #939792 !important;
}
.row {
padding: 25px 0px 25px 0;
}
h1 {
height: 100px;
color: #136f63;
}
.footer {
background-color: #11200d !important;
background-image: url(../images/pack-footer-bg.svg) !important;
background-repeat: no-repeat;
background-position: center;
}
.footer-logo {
display: none;
}
.hidden {
display: none;
}
.spaceholder {
text-align: center;
padding-top: 200px;
font-size: 56px;
color: rgb(77, 3, 77);
display: inline-block;
margin-bottom: 10%;
animation: bounce;
animation-duration: 6s; 
}


