.work{
    padding-left:200px !important;
    padding-right:200px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .title {
        background-color:#271458!important;
        width: 100%;
        background-image: url(../images/title-bg.svg);
        background-repeat: no-repeat;
        background-position: center;
        height: 200px;
        color: white;
        }
        .title h1{  font-family: 'Merriweather', serif;
        }
    .title h1,
    .title p {
    color: white;
    text-align: center;
    padding-top: 30px;
    }
    .img-responsive{
        width:80%;
    }
    button{
        border-radius: 10px!important;
    }
a{
color:white!important;
}
@media only screen and (max-width: 900px) {

    .work{
        padding-left:50px !important;
        padding-right:50px !important;
        padding-top: 50px;
        }
        .work img{
            padding-bottom: 50px;
        }
        button{
        margin-top:10px!important;
    }
    .reverse{
        display:grid;
        repeat(2, 6fr);
    }
    .reverse div:nth-of-type(1){
order:2;
    }
}
.fa-circle{
    color:#271458;
}
h4{
    padding: 10px 0px 10px 0px;
}
@media only screen and (max-width: 600px) {
    .title {
        background-image: none;
        background-color:#271458!important;
        }
}